@model EpistleLibrary.Models.BookshelfModel

<div id="add_new_shelf">
<form id="shelf_form" asp-action="CreateShelf" asp-controller="Shelf">
    <h5>Enter a shelf name</h5>
    <ul class="p-4">
        <li><input id="shelf_input" asp-for="Title" /></li>
        <li class="p-4"><input type="submit" value="Ok" id="ok_btn"/></li>
    </ul>
    <a id="del_cancel" href="@Url.Action("Index", "Home")">Cancel</a
</form>
</div>
