@using EpistleLibrary.Services

<form>
    <select>
        @foreach(var bookshelf in BookshelfService.GetBookshelves(@ViewBag.Username))
        {
           <option>bookshelf.Title</option> 
        }
    </select>
</form>