@model _UserModel

<div id="container">
    <form id="create_form" method="post" asp-controller="Home" asp-action="Create">
        <span class="text-danger">@ViewBag.SignupError</span>

        <label asp-for="Username"></label>
        <input autocomplete="off" id="create_field" asp-for="Username" />
        <span asp-validation-for=Username class="text-danger"></span>

        <label asp-for="Email"></label>
        <input autocomplete="off" id="create_field" asp-for="Email" />
        <span asp-validation-for=Email class="text-danger"></span>

        <label asp-for="Password"></label>
        <input autocomplete="off" id="create_field" type="password" asp-for="Password" />
        <span asp-validation-for=Password class="text-danger"></span>

        <label asp-for="ConfirmPassword"></label>
        <input autocomplete="off" id="create_field" type="password" asp-for="ConfirmPassword" />
        <span asp-validation-for=ConfirmPassword class="text-danger"></span>

        <input id="create_button" type="submit" value="Create" />

    </form>
</div>

<h5 class="text-center"><a id="account_a" asp-action="Login">Back</a> to login</h5>
@section Scripts 
{
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}