@using EpistleLibrary.Services
@model EpistleLibrary.Models.NoteModel

<form class="wrapper" asp-action="Index">
    <div id="sidenav">
        <div id="head">
            <h6 id="title">Epistle</h6>
        </div>
        <div id="badge">
            <h6 id="username">@ViewBag.Username</h6>
            <h6 id="note_count">Total Notes: @NoteService.GetNoteCount()</h6>
        </div>
    </div>
    <div id="notelist">
        <div id="searchbar">
            <div id="notelist_icons">
                <div onclick="" class="notelist_button">SORT</div>
                <h6>All Notes</h6>
                <div onclick="" class="notelist_button">NEW</div>
            </div>
            <input type="text" id="search" placeholder="Type to search..." />
        </div>
        <div id="notes"> <!-- Get all the user's notes-->
            @foreach(var note in NoteService.GetNotes())
            {
                <h6>HI</h6>
            }
        </div>
    </div>
    <div id="editor">
        <div id="toolbar">
            <div id="toolbar_items">
                <button type="submit" class="toolbar_button">SAVE</button>
            </div>
        </div>
        <textarea asp-for="Content" spellcheck="false" placeholder="Start your note here..."></textarea>
    </div>
</form>
