<div class="wrapper">
    <div id="sidenav">
        <div id="head"></div>
        <div id="badge"></div>
    </div>
    <div id="notelist">
        <div id="searchbar">
            <div id="notelist_icons">
                <button>SORT</button>
                <h6>All Notes</h6>
                <button>NEW</button>
            </div>
            <input type="text" id="search" placeholder="Type to search..." />
        </div>
        <div id="notes">
        </div>
    </div>
    <div id="editor">
        <div id="toolbar">
            <div id="toolbar_items">
                <button class="toolbar_button">THEME</button>
                <button class="toolbar_button">COLOR</button>
                <button class="toolbar_button">FONT</button>
                <button class="toolbar_button">IMAGE</button>
                <button class="toolbar_button">SAVE</button>
            </div>
        </div>
        <textarea spellcheck="false"></textarea>
    </div>
</div>
