<form class="wrapper">
    <div id="sidenav">
        <div id="head"></div>
        <div id="badge"></div>
    </div>
    <div id="notelist">
        <div id="searchbar">
            <div id="notelist_icons">
                <div onclick="" class="notelist_button">SORT</div>
                <h6>All Notes</h6>
                <div onclick="" class="notelist_button">NEW</div>
            </div>
            <input type="text" id="search" placeholder="Type to search..." />
        </div>
        <div id="notes">
        </div>
    </div>
    <div id="editor">
        <div id="toolbar">
            <div id="toolbar_items">
                <div onclick="toolbar_click()" class="toolbar_button">THEME</div>
                <div onclick="toolbar_click()" class="toolbar_button">IMAGE</div>
                <div onclick="toolbar_click()" class="toolbar_button">TEXT</div>
                <button type="submit" class="toolbar_button">SAVE</button>
            </div>
        </div>
        <textarea spellcheck="false"></textarea>
    </div>
</form>
