@model _LoginModel

<div id="container">
    <form id="login_form" asp-controller="Home" asp-action="Login">
        <span class="text-danger">@ViewBag.LoginError</span>

        <label asp-for="Username"></label>
        <input autocomplete="off" id="login_field" asp-for="Username" />
        <span asp-validation-for="Username" class="text-danger"></span>

        <label asp-for="Password"></label>
        <input autocomplete="off"  id="login_field" type="password" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <input id="login_button" type="submit" value="Login" />
    </form>
</div>

<h5 class="text-center">Don't have an account? Sign up <a id="account_a" asp-action="Create">here</a></h5>


@section Scripts
{
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}