:root {
    /* COLORS */
    --primary: #262626;
    --secondary: #2d2d2d;
    --primary-accent: #1d1d1d;
    --secondary-accent: #353635;
    --text: aliceblue;

    /*SIZES*/
    --sidenav: 18%;
    --notelist: 22%;
    --editor: 60%;
}

html, body, main {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: var(--sidenav) var(--notelist) var(--editor);
    grid-auto-rows: minmax(100px, auto);
}


/* SIDENAV */
#sidenav {
    grid-column: 1;
    grid-row: 1;
    overflow: scroll;
    background-color: var(--primary);
    scrollbar-width: none;
}

    #sidenav::-webkit-scrollbar {
        display: none;
    }

#head {
    position: absolute;
    top: 0;
    height: 12%;
    width: var(--sidenav);
    background-color: var(--primary-accent);
}

#badge {
    position: absolute;
    bottom: 0;
    height: 12%;
    width: var(--sidenav);
    background-color: var(--primary-accent);
}


/* NOTELIST */
#notelist {
    grid-column: 2;
    grid-row: 1;
    overflow-y: scroll;
    background-color: var(--secondary);
    scrollbar-width: none;
}

    #notelist::-webkit-scrollbar {
        display: none;
    }


ul {
    position: absolute;
    height: 100%;
}

#searchbar {
    height: 12%;
    background-color: var(--secondary-accent);
}

textarea {
    height: 100%;
    width: 100%;
    border: none;
    padding: 1em;
    overflow-y: scroll;
    background-color: var(--primary);
    color: var(--text);
    resize: none;
    scrollbar-width: none;
}

    textarea:focus {
        outline: none;
    }

    textarea::-webkit-scrollbar {
        display: none;
    }