:root {
    /* COLORS */
    --primary: #2A2A2A;
    --secondary: #3D3E3D;
    --primary-accent: #1F1F1F;
    --secondary-accent: #353635;
    --note: #4b4c4b;
    --text: aliceblue;
    /*SIZES*/
    --sidenav: 200px;
    --notelist: 300px;
    --editor: 100%;
}

html, body, main {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--secondary)
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: var(--sidenav) var(--notelist) var(--editor);
    grid-auto-rows: minmax(100px, auto);
}


/* SIDENAV */
#sidenav {
    grid-column: 1;
    grid-row: 1;
    overflow: scroll;
    background-color: var(--primary);
    scrollbar-width: none;
}

    #sidenav::-webkit-scrollbar {
        display: none;
    }

#head {
    position: absolute;
    top: 0;
    height: 80px;
    width: var(--sidenav);
    background-color: var(--primary-accent);
}

#title {
    font-size: xx-large;
    margin-top: 15px;
    margin-left: 5px;
    color: var(--text);
}

#badge {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: var(--sidenav);
    background-color: var(--primary-accent);
    text-align: center;
}

#username {
    margin-top: 10px;
    font-size: large;
    color: var(--text);
}

#logout {
    background-color: var(--primary-accent);
    font-size: medium;
    border: none;
    color: var(--text);
    opacity: 60%;
}

/* NOTELIST */
#notelist {
    grid-column: 2;
    grid-row: 1;
    overflow-y: scroll;
    background-color: var(--secondary);
    scrollbar-width: none;
}

    #notelist::-webkit-scrollbar {
        display: none;
    }

#notelist_icons {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-inline: 20px;
}

#note_card {
    background-color: var(--note);
    width: var(--notelist);
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
    border: solid;
    border-width: 1px;
    border-color: var(--secondary);
}

#note_card:hover {
    background-color: var(--secondary-accent);
    cursor: pointer;
}

h6 {
    font-size: larger;
    color: var(--text);
}

h5 {
    font-size: larger;
    color: var(--text);
}

h4 {
    font-size: larger;
    color: var(--text);
}

#searchbar {
    height: 80px;
    background-color: var(--secondary-accent);
}

#search {
    border: none;
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
    background-color: #242424;
    margin-left: 35px;
    margin-top: 5px;
    color: var(--text);
}

    #search:focus {
        outline:none;
    }


/* EDITOR */
#editor {
    margin-right: 480px;
    padding-right: 15px
}

#toolbar {
    height: 40px;
    background-color: var(--primary-accent);
    margin: 0 auto;
}

#toolbar_items {
    display: flex;
    justify-content: center;
}

.toolbar_button {
    margin-inline: 3%;
    color: var(--text);
}

textarea {
    height: 100%;
    width: 100%;
    border: none;
    padding: 1em;
    overflow-y: scroll;
    background-color: var(--primary);
    color: var(--text);
    resize: none;
    scrollbar-width: none;
}

    textarea:focus {
        outline: none;
    }

    textarea::-webkit-scrollbar {
        display: none;
    }


/* LAYOUT */
@media screen and (max-width: 1200px) {
    div#sidenav {
        display: none;
    }

    div#notelist {
        grid-column: 1;
    }

    div#editor {
        grid-column: 2 span;
    }

    input#search {
        width: 150px;
    }
}

@media screen and (max-width: 900px) {
    div#sidenav {
        display: none;
    }

    div#notelist {
        display: none;
    }

    div#editor {
        grid-column: 3 span;
        width: 102vw;
    }
}

/* ACCOUNT PAGE*/
#container {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ACCOUNT FORMS */
#login_form, #create_form {
    display: flex;
    flex-direction: column;
    color: var(--text);
    text-align: center;
    font-size: x-large;
    width: 300px;
    margin-top: 40px;
}

#login_field, #create_field {
    border: none;
    background-color: var(--primary);
    color: var(--text);
}

    #login_field:focus {
        outline: none;
    }

    #create_field:focus {
        outline: none;
    }

#login_button, #create_button {
    border: none;
    margin-top: 20px;
    color: var(--text);
    background-color: var(--primary-accent);
}

    #login_button:hover {
        background-color: var(--primary);
    }

    #create_button:hover {
        background-color: var(--primary);
    }

h5 {
    margin-top: 20px;
    color: var(--text);
}